:root {
  --color-main-1: #a23aff;
  --color-main-2:  #1f4037;
  --color-primary: #99f2c8, #1f4037;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

header {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}


.navbar-brand {
  position: relative;
  text-transform: uppercase;
  color: #0b0d19;
  font-weight: 900;
  font-size: 2.3rem;
  padding: 0.5rem;
}

.page-title {
  height: 6px;
  width: 6px;
  background-color: rgba(184, 175, 175, 0.884);
  position: absolute;
  top: 0.7rem;
  left: 0;
  border-radius: 50%;
}

.navbar-nav .nav-item a.nav-link {
  font-size: 1rem;
 color: #1f4037;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-transform: uppercase;
  padding: 0.5rem 0.9rem;
 
}

.navbar-nav .nav-item a.nav-link:hover {
  color:#11998e;
   transition: all .6s;
  transform: translateY(100%);
  animation: pulsate 3s infinite;
}

.nav-link {
  margin: 0.3rem;
}

.last{
margin-left: 2rem;
}
.navbar-nav .nav-item:last-child a {
  color: #fff !important;
  /* background: linear-gradient(to right bottom, #a23aff, #6266ff); */
background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 100px;
  display: inline-block
}

.navbar-nav .nav-item:last-child a:hover {
  background: var(--color-main-2)
}

.page-header {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-40%)
}

.page-header__title {
  text-transform: capitalize;
  font-size: 3rem;
  color: #1f4037;
  display: inline-block;
  margin-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: 'Quattrocento',
    serif;
  /* border-left: 0.3rem solid var(--color-main-2); */
  border-left: 0.3rem solid #1f4037;
  margin-top: 5rem;

}

@media only screen and (max-width: 998px) {

  .page-header {
  
    margin-top: 2rem;
     margin-right: 3.5rem;
    padding-left: 3.5rem;

  }
  .navbar-nav{
      background-color: #1f4037;
      border-radius: 2%;
      cursor: pointer;
      opacity: .9;
      z-index: 1;
  }
 .navbar-nav .nav-item a.nav-link{
 color: #fff;

  }

  .page-header__title{
    font-size: 1.5rem;
    z-index: -1;
  }

}
.page-header__sub-title {
  color:#1f4037;
  padding-left: 2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.page-header__link {
  color: #fff !important;
  background:linear-gradient(to right, #99f2c8, #1f4037);;
  border-radius: 100px;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  font-weight: 300;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

a.page-header__link {
  text-decoration: none;
}

a.page-header__link:hover {
background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: translateY(100%);
  animation: pulsate 1s infinite;
}

section {
  padding: 8rem 0;
}

/* ############################################### */
/* SECTION ABOUT */
/* ############################################### */

#about {
  background-color: #eaedf2;
}

.about__heading {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.about__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.about__line {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.about__icons {
  margin: 1rem 0;
}

.about__title {
  text-transform: capitalize;
  font-size: 1rem;
  color: #0b0d19;
  font-weight: 700;
}

.about__article {
  color: #aaadc1;
  font-size: 0.8rem;
  word-spacing: 2px;
}

.about-card {
  padding-right: 3rem;
}

/* ############################################### */
/* SECTION TEAM */
/* ############################################### */
.parent { 
display: grid; 
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: repeat(3, 1fr); 
grid-column-gap: 0px;
grid-row-gap: 0px; 
padding-left: 2rem;
}

.div1 { grid-area: 1 / 1 / 2 / 2; background-color: #ff8762;} 
.div2 { grid-area: 1 / 2 / 2 / 3;background-color: #6266ff; } 
.div3 { grid-area: 1 / 3 / 2 / 4; background-color: #5d5f81;} 
.div4 { grid-area: 2 / 1 / 3 / 2; background-color: #6266ff;} 
.div5 { grid-area: 2 / 2 / 3 / 3; background-color: #62ff6a;} 
.div6 { grid-area: 3 / 1 / 4 / 2; background-color: #6266ff;} 


.team__heading {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.team__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 0.3rem solid var(--color-main-2);
}

.team__heading,
.team__sub-heading {
  padding-left: 1.5rem;
}

.team__profile-name {
  font-size: 1rem;
  font-weight: 700;
  color: #0b0d19;
  margin: 1rem 0 0 1.5rem;
}

.team__profile-position {
  color: #aaadc1;
  font-size: 0.6rem;
  text-transform: uppercase;
  margin: 0 0 2rem 1.5rem;
  font-weight: 700;
}

.image-zach{
  
}

/* ############################################### */
/* SECTION profile */
/* ############################################### */

#profile {
  background-color: #eaedf2;
  position: relative;
}

.boat {
  position: absolute;
  right: -5px;
  height: 23rem;
  width: 20rem;
  top: 13rem;
}
@media only screen and( max-width: 980px){

.parent{
  display: flex;
  flex-direction: column;
}
}

.profile__heading {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  margin-left: 0.5rem;
}

.profile__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 0.3rem solid var(--color-main-2);
}

.profile__heading,
.profile__sub-heading {
  padding-left: 1.5rem;
}

.left {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.profile__title {
  text-transform: capitalize;
  font-size: 2rem;
  color: #0b0d19;
  font-weight: 700;
  margin-top: 1.5rem;
}

@media only screen and (max-width:500px){

}
.profile__article {
  color: #aaadc1;
  font-size: 1.5rem;
  word-spacing: 2px;
  padding-bottom: 2rem;
}

.profile__link {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #fff;
  font-weight: 700;
  padding: .5rem;
  background-color: #11998e;
  border-radius: 10%;
  transition: all .6s;
}

.profile__link:hover {
  color: #0b0d19;
  text-decoration: none;
  transform: translateY(100%);
  animation: pulsate 1s infinite;
}


@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
/* ############################################### */
/* SECTION CONTACT*/
/* ############################################### */

#contact {
  background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0.3)), url(img/start.jpg);
  background-position: center;
  background-size: cover;
}

.contact__heading {
  text-transform: uppercase;
  color: #aaadc1;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.contact__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: rgb(27, 26, 26);
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.contact__line {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.contact__icons {
  margin: 1rem 0;
}

.contact__title {
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(27, 26, 26);
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact__article {
  color: #aaadc1;
  font-size: 0.8rem;
  word-spacing: 2px;
  margin-bottom: 4rem;
}

.right {
  display: flex;
}

.contact-card {
  padding-right: 5rem;
  margin-top: 3rem;
}

.contact-card img {
  margin-bottom: 1rem;
}

@media only screen and(max-width:580px){
  .contact-card-div {
 padding-left: 40rem;
}
}
label,
.contact__locaton-title {
  color: #0b0d19;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact__locaton-body {
  color: #aaadc1;
  font-size: 0.8rem;
  word-spacing: 2px;
}

.contact__locaton-socials {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.fab {
  margin-right: 1rem;
  background-color: #1f4037;
  padding: 0.8rem;
  border-radius: 50%;
  color: #fff;
  height: 3rem;
}

.form-group>input,
.form-group>textarea {
  background-color: #eaedf2;
  border: none;
  color: #aaadc1 !important;
}

.contact__mailing>input:focus,
.form-group>input:focus,
.form-group>textarea:focus {
  background-color: #eaedf2;
  box-shadow: none;
}

.send {
  color: #fff !important;
  background: linear-gradient(to right, #99f2c8, #1f4037);
  border-radius: 100px;
}

.send:hover{
   transform: translateY(100%);
  animation: pulsate 1s infinite;
}
.join {
  color: #fff !important;
  background: linear-gradient(to right, #99f2c8, #1f4037);
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.6rem;
}

a.join {
  text-decoration: none;
}

.contact__mailing>input {
  background: none;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 60%;
  background-color: #eaedf2;
  color: white !important;
}

.contact__mailing>input:focus {
  outline: none;
}

footer {
  padding: 6rem 0 1rem;
  background-color: #eaedf2;
  color: #aaadc1;
  font-size: 1rem;
}

footer p {
  margin-bottom: 4rem;
}

footer h4 {
  color: #0b0d1994;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}





@media only screen and (max-width: 768px) {
  body {
    font-size: 40%;
  }

  .page-header {}

  .boat {
    display: none;
  }
}

.fas{
  color: #1f4037;
  margin-left: 4rem;
}
@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 600px) {
}